body{
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

/* Nav Styles */

nav ul{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
a{
  font-size: 1.1rem;
  font-weight: bold;
}
.active{
  color: #399bd1;
}

/************************
  Jumbotron Styles
*************************/
.jumbotron{
  display: flex;
  justify-content: center;
  padding: 6.25rem 0;
}

.jumbotron-content{
  width: 51.8rem;
  text-align: center;
  color: white;
}
.jumbrotron-bike{
  background-image: url("../images/jumbotron-bike.jpg");
  background-size: cover;
  background-position-y: -120px;
  /* background-position-x: -50px; */
}
.jumbotron button{
  margin-top: 2.8rem;
  padding: 0.625rem 1.5rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.jumbotron h1{
  font-family: Monoton;
  font-size: 7.1rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.jumbotron p{
  font-size: 1.5rem;
}

/************************
  Features Styles
*************************/
.features{
  margin-bottom: 5.85rem; 
}

.features .projects .projects-img{
  margin-bottom: 1rem;
}

.features h2{
  margin-bottom: 20px;
  font-size: 1.7rem;
  font-weight: bold;
}

.features h5{
  font-size: 1.3rem;
  font-weight: bold;
}

.features p, .features li{
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}





/* Hide the logo when the page breaks at approximately 768 px */
@media only screen and (max-width: 768px) {
  nav .nav-logo{
    display: none;
  }
}
